#title{
  background-color: #E23E57;
  color: #fff;
  padding: 3rem;
}

 h1{
font-family: 'Montserrat-black', sans-serif;
font-size: 3rem;


 }
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}
.navbar{
  padding: 2rem;
}
.download-but
{
  margin: 5% 3% 5% 0%;
}
.image-title{
  width: 40%;
  transform: rotate(-10deg);
}
#features{
  padding: 7% 7%;
  color: #88304E;
}
.fe{
text-align: center;
padding: 5%;
}
.dogimg
{
  position: relative;
  left:7%;
padding: 5%;
border-radius: 100%;
}
.f{
  position: relative;
  top: 30%;
  left: 10%;
}
#testimonials
{
  background-color: #88304E;
  color: #fff;
  padding: 3rem;

}
.h{
  padding: 10%;
}
.news-image
{
padding: 1em;
}
#press{
  align-items: center;
  padding: 5%
}
#pricing{
  background-color: #522546;
  color: #fff;
  padding: 3rem;


}
.card{
  background-color: #E23E57;
  border-radius: 3%;
margin:  2px;
}
.hi{
  width
}
.hh3{
  font-faimly: Montserrat;
}
